
// Core variables and mixins

@import "variables.less";
@import "mixins.less";




*{
  outline:none !important;
}
body
{
  margin:0;
  padding:0;
  outline:none;
  overflow-x:hidden ;
  font-family:"Open Sans",arial, sans-serifial;
}

a
{
  color:#333;
  text-decoration:none
}
a:hover,a:focus
{
  text-decoration:none;
}
ul{

  list-style-type:none;
  margin:0;
  padding:0;
}

.collapse
{
  padding:0px;
}
.slider-area {
  bottom: 0;
  float: left;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: left 0.4s ease 0s,top 0.4s ease 0s;

}
.main-slider {
  height: 100%;
  overflow: hidden;
  width: 100%;
  background:#aaa;
  img
  {
    width:100%;
  }

  .bx-viewport {
    border: medium none;
    box-shadow: 0 0 0;
    left: 0;
    .caption{
      position: absolute;
      text-align: center;
      top: 35%;
      width: 100%;
      z-index: 99;
      font-weight: bold;
      text-transform: uppercase;
      span{
        color: #fff;
        font-size: 50px;
        position: relative;
        z-index: 99999999;
        line-height:1.16;
        b{
          color:#10C45C;
        }
      }
      a{
        background: #fff none repeat scroll 0 0;
        display: inline-block;
        font-size: 17px;
        font-weight: 600;
        margin-left: 45px;
        margin-top: 23px;
        padding: 10px 16px;
        position: relative;
        &:extend(.transition);
        i{
          border: 3px solid #fff;
          color: #fff;
          font-size: 20px;
          padding: 9px 10px;
          position: absolute;
          right: 100%;
          top: 0;
          &:extend(.transition);
        }
        &:hover{
          background: #10C45C;
          color:#000;
          i{
            border: 3px solid #10C45C;
            color: #10C45C;
          }
        }
      }
    }
  }

  .bx-wrapper .bx-viewport {
    background: #52504f none repeat scroll 0 0;
  }
  .bx-controls-direction{
    a{
      background: rgba(255,255,255,0.2);
      color: #fff;
      font-size: 52px;
      height: 80px;
      text-align: center;
      text-indent: 0;
      width: 73px;
      &:extend(.transition);
      &:hover{
        background: #fff;
        color: #000;
      }
    }
  }
}

.header-content{
  background: transparent none repeat scroll 0 0;
  position: absolute;
  top: 0;
  width: 100%;
  .top-header{
    background: #333333 none repeat scroll 0 0;
    padding: 10px 0;
    width: 100%;
    .top-header-info{
      text-align: right;
      p{
        color: #bababa;
        display: inline-block;
        font-size: 13px;
        margin: 0 26px 0 0;
        i{
          margin-right: 7px;
        }
      }
      a{
        color: #d9d9d9;
        font-size: 13px;
        margin-left: 11px;
        text-transform: uppercase;
      }
    }
  }
}

header{
  .navbar{
    border: 0 none;
    margin: 0;
    padding: 9px 0;
    .navbar-header{
      color: #fff;
    }
    .navbar-brand{
      color: #fff;
      height: initial;
      padding: 8px;
      width: 350px;
    }
  }
  .main-ul{
    float: right;
    margin-top: 7px;
    li{
      padding: 9px 0;
      &.active a{
        border-bottom: 3px solid #10c45c;

        &:before{
          border-color: #10c45c transparent;
          border-style: none solid solid;
          border-width: 5px;
          bottom: 0;
          content: "";
          left: 50%;
          margin-left: -5px;
          position: absolute;
        }
      }
      a{
        color: #fff;
        font-weight: 700;
        margin-left: 16px;
        margin-right: 4px;
        padding: 12px 7px;
        text-transform: uppercase;

        &:extend(.transition);
        &:hover,&:focus{
          border-bottom: 3px solid #10c45c;
          background-color:transparent;
        }
      }
    }
  }
}
.top-serv{
  float: left;
  margin-top: -114px;
  position: relative;
  width: 100%;
  .top-serv-box{
    color: #fff;
    float: left;
    height: 240px;
    padding: 20px;
    width: 25%;
    transition: all 0.3s ease 0s;
    &:hover{
      transform: translate(0px, -26px);
    }
    &.cl-green{
      background: #10C45C;
    }
    &.cl-yellow{
      background: #FDC735;
    }
    &.cl-blue{
      background: #307AD5;
    }
    &.cl-red{
      background: #E948AE;
    }
    i{
      font-size: 50px;
    }
    h4{
      font-size: 20px;
      font-weight: 600;
      margin: 10px 0;
    }
    p{
      line-height: 1.6;
    }
  }
}
.courses-list{
  float: left;
  padding: 40px 0 50px;
  text-align: center;
  width: 100%;
  h2{
    color: #333;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .courses-list-item{
    border: 1px solid #dddddd;
    float: left;
    overflow: hidden;
    text-align: left;
    width: 100%;
    img{
      width:100%;
    }
    h3{
      font-size: 17px;
      font-weight: 600;
      margin: 11px 0 4px;
      padding: 0 12px;
    }
    span{
      color: #929292;
      display: inline-block;
      font-size: 13px;
      margin: 2px 12px;
    }
    .item-footer{
      border-top: 1px solid #d3d3d3;
      margin-top: 6px;
      padding: 6px 12px;
      a {
        color: #1d8fa9;
        font-size: 13px;
        position: relative;
        z-index: 11;
        &:before{
          background: #1d8fa9 none repeat scroll 0 0;
          content: "";
          height: 32px;
          left: -12px;
          position: absolute;
          top: -7px;
          width: 95px;
          z-index: -1;
          transform: translate(-96px, 0px);
          transition: all 0.3s ease 0s;
        }
        &:after{
          border-color: transparent #1d8fa9;
          border-style: solid;
          border-width: 9px 0 9px 9px;
          content: "";
          left: 130%;
          position: absolute;
          top: 0;
          transform: translate(-96px, 0px);
          transition: all 0.3s ease 0s;
        }
      }
      span{
        float: right;
        margin: 0;
        i{
          margin-right:4px;
        }
      }
    }
    &:hover a:before,&:hover a:after{
      transform: translate(0px, 0px);
    }
    &:hover a{
      color:#fff;
    }

  }
}
.testimonials{
  background: black url("../images/test-bg.jpg") repeat scroll center top / cover ;
  padding: 50px 0;
  text-align: center;
  .testimonial-info{
    color: #fff;
    display: table;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    h3{
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
    }
    h5{
      color: #c7c7c7;
      margin: -2px 0 20px;
      padding-bottom: 14px;
      position: relative;
      &:before{
        background: #169eb7 none repeat scroll 0 0;
        content: "";
        height: 3px;
        left: 50%;
        margin-left: -45px;
        position: absolute;
        top: 100%;
        width: 90px;
      }
    }
    img{
      border: 2px solid #fff;
      border-radius: 50%;
      height: 130px;
      margin-bottom: 11px;
      margin-top: 22px;
      width: 130px;
    }
    h4{
      font-size: 25px;
      margin-bottom: 4px;
    }
    span{
      color: #c7c7c7;
      display: inline-block;
      font-size: 13px;
      margin-bottom: 11px;
    }
    p{
      font-size: 13px;
      line-height: 1.8;
    }
  }
}
.events{
  padding: 40px 0;
  h2{
    &:extend(.courses-list h2);
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
  }
  .event-item{
    margin-bottom: 22px;
    &:extend(.block);
    img{
      margin-bottom: 26px;
      width: 100%;
    }
    .event-item-leftinfo{
      border: 2px solid #1d8fa9;
      float: left;
      padding: 4px 0;
      position: absolute;
      text-align: center;
      width: 56px;
      span{
        border-bottom: 2px solid #1d8fa9;
        color: #1d8fa9;
        display: inline-block;
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 6px;
        width: 100%;
      }
      small{
        color: #1d8fa9;
        font-weight: 700;
        text-transform: capitalize;
      }
    }
    .event-item-rightinfo{
      float: left;
      height: 150px;
      padding-left: 70px;
      width: 100%;
      h3{
        font-size: 18px;
        font-weight: 600;
        line-height: 1.3;
        margin: 0 0 9px;
      }
      p{
        color: #7e7e7e;
        font-size: 13px;
      }
      a{
        background: #1d8fa9 none repeat scroll 0 0;
        color: #fff;
        display: inline-block;
        font-size: 12px;
        margin-top: 3px;
        padding: 5px 9px;
      }
    }
  }
}
.gray-box{
  background: #eeeeee none repeat scroll 0 0;
  margin-top: 20px;
  padding: 24px 0;
  .sub-form{
    img{
      float: left;
      margin-right: 26px;
    }
    h4{
      display: inline-block;
      margin: 7px 0 8px;
      font-weight: 600;
      b{
        color: #1d8fa9;
        font-weight: 600;
      }
    }
    p{
      color: #626262;
      font-size: 13px;
    }
    h6{
      font-size: 16px;
      font-weight: 600;
      margin: 5px 0 10px;
      padding-bottom: 7px;
    }
    input{
      border: 1px solid #dadada;
      float: left;
      height: 40px;
      padding: 5px 9px;
      width: 288px;
    }
    Button{
      background: #1d8fa9 none repeat scroll 0 0;
      border: medium none;
      color: #fff;
      padding: 10px 18px;
    }
  }
}
.learn{
  background: #414b4f none repeat scroll 0 0;
  padding: 28px 0;
  width: 100%;
  img{
    width:100%;
  }
  .learn-item{
    padding: 36px 20px;
    text-align: center;
    .icon-box{
      background: #fff none repeat scroll 0 0;
      border-radius: 50%;
      display: inline-flex;
      font-size: 38px;
      height: 100px;
      width: 100px;
      i{
        align-self: center;
        color: #414b4f;
        display: table;
        margin: 0 auto;
      }
    }
    h4{
      color: #fff;
      font-size: 20px;
      margin: 18px 0;
    }
    p{
      color: #8a9498;
    }
  }
}
.register{
  &:extend(.block);
  background-color: #fdc735;
  margin-bottom: 40px;
  padding: 40px;
  .register-info{
    color: #fff;
    margin: 44px 0;
    text-align: center;
    h3{
      font-size: 28px;
      font-weight: 800;
      line-height: 1.3;
      text-transform: uppercase;
      b{
        color:#000;
      }
    }
    h6{
      color: #000;
      font-size: 18px;
      font-weight: 600;
      margin: 16px 0 20px;
      text-transform: uppercase;
    }
  }

  .register-form{
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    margin: 0 auto;
    max-width: 350px;
    padding: 20px 40px;
    text-align: center;
    h4{
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 23px;
      text-align: center;
    }
    input{
      background: #e8e8e8 none repeat scroll 0 0;
      border: medium none;
      font-size: 13px;
      margin-bottom: 13px;
      padding: 7px 10px;
      text-align: center;
      width: 100%;
    }
    button{
      background: #1d8fa9 none repeat scroll 0 0;
      border: medium none;
      border-radius: 4px;
      color: #fff;
      margin-top: 9px;
      padding: 7px 40px;
    }
  }
}
footer{
  background: #414b4f none repeat scroll 0 0;
  padding: 30px 0;
  &:extend(.block);
  .footer-item{
    margin-bottom: 10px;
    h3{
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 23px
    }
    p{
      color: #cad4d8;
      font-size: 13px;
      line-height: 1.5;
    }
    a.read{
      border: 2px solid #cfcfcf;
      color: #fff;
      display: inline-block;
      font-weight: 600;
      margin-top: 10px;
      padding: 6px 10px;
      text-transform: uppercase;
      &:hover{
        border: 2px solid #FDC735;
        color:#FDC735;
      }
    }
    ul{
      color:red;
      li{
        border-bottom: 1px solid #656565;
        color: #fff;
        &:extend(.block);
        a{
          &:extend(.block);
          color: #afafaf;
          font-size: 13px;
          padding: 7px 0;
          i{
            margin-right: 9px;
          }
          &:hover{
            color: #fff;
          }
        }
      }
    }
    .con-item{
      color: #ced8dc;
      display: inline-block;
      margin-top: 10px;
      padding: 3px 0;
      width: 100%;
      i{
        margin-right: 9px;
        text-align: center;
        width: 16px;
      }
    }
    .timer{
      list-style: outside none none;
      padding: 0;
      li{
        border-bottom: 1px dashed #aaaaaa;
        color: #cad4d8;
        font-size: 12px;
        padding: 9px 0;
        span{
          float:right;
        }
      }
    }
  }
  .copy{
    border-top: 1px solid #5b5b5b;
    color: #a2a2a2;
    display: inline-block;
    font-size: 11px;
    margin-top: 30px;
    padding-top: 13px;
    width: 100%;
  }
}



@media (min-width: 0px) {

}
@media only screen and (min-width: 0px) and (max-width: 767px) {

}
@media only screen and (min-width: 0px) and (max-width: 480px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {



}




